{% extends 'base.html.twig' %}

{% block title %}Theloai index{% endblock %}

{% block body %}
    <h1>Theloai index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tentheloai</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for theloai in theloais %}
            <tr>
                <td>{{ theloai.id }}</td>
                <td>{{ theloai.tentheloai }}</td>
                <td>
                    <a href="{{ path('app_theloai_show', {'id': theloai.id}) }}">show</a>
                    <a href="{{ path('app_theloai_edit', {'id': theloai.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_theloai_new') }}">Createnew</a>
{% endblock %}
